<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd">
     
     <bean id="exchangeService" class="com.lti.spring.service.ExchangeService">     
      <property name="exchangeRates" value="69.00"></property> 
    <!-- injecting value by property/setter --> 
    <!--  <constructor-arg value="69.0"></constructor-arg> -->
     </bean>
     <bean id="currencyService" class="com.lti.spring.service.CurrencyService">
     <property name="exchangeService" ref="exchangeService"></property></bean>
      </beans>
 
